{% extends "base.html" %}
{% block content %}
<table class="table">
  <thead>
    <tr>
      <th scope="col">Название книги</th>
      <th scope="col">Имя автора</th>
      <th scope="col">Жанр</th>
      <th scope="col">Цена одного экземпляра</th>
    </tr>
  </thead>
  <tbody>
  {% if report %}
    {% for book in report %}
    <tr>
      <td>{{book[0]}}</td>
      <td>{{book[1]}}</td>
      <td>{{book[2]}}</td>
      <td>{{book[3]}}</td>
      <td>
        <form class="_add_to_cart" id="{{book[4]}}">
        <input type="number" name="count" value="1">
        <a href="">Добавить в корзину</a>
        </form>
      </td>
    </tr>
    {% endfor%}
  {% endif%}
  </tbody>
</table>
<a class="btn btn-primary" role="button" href="/publishers">
          Назад
        </a>
{% endblock %}
