{% extends "base.html" %}
{% block content %}
<div class="container">

<form action="" method="GET">
  <div class="row">
    <div class="col-2"></div>
    <div class="col-8">
        <div class="form-group text-center">
          <label for="inputDate">Введите дату:</label>
          <input id="inputDate" required type="month" name="date" class="form-control">
          {% if errors %}
            {% for error in errors %}
                <p class="mb-4 error">{{ error }}</p>
            {% endfor %}
          {% endif %}
        </div>
        <div class="form-group text-center">
           <label for="inputbook">Введите название книги:</label>
          <input id="inputbook" required type="text" name="book" class="form-control">
          {% if errors %}
            {% for error in errors %}
                <p class="mb-4 error">{{ error }}</p>
            {% endfor %}
          {% endif %}
        </div>
    </div>
  </div>
  <div class="row">
      <div class="col-2">
      <a class="btn btn-primary" role="button" href="..">
          Назад
        </a>
    </div>
    <div class="col-8">
      <div class="text-center">
        <button type="submit" class="btn btn-primary">Отправить</button>
      </div>
  </div>
  </div>

  </form>
</div>
{% endblock %}
